.canchor{
    color: rgb(255, 7, 214);
    /* text-decoration: none; */

}
#anchor{
    font-size: 16px;

}
#anchor2{
    font-size: 40px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 3px solid green; 
    border-radius: 10px;
    flex-wrap: wrap;
    flex-direction: column;
   
  }